<h1>Добро пожаловать на Дельта-Чан</h1>

<h2>Свежие треды</h2>

<% @topics.each do |topic| %>
  <%= render 'sections/topic', topic: topic, reply: false %>
  <%= link_to "Ссылка", section_topic_path(topic.section, topic) %>
  <hr/>
<% end %>