<div class="row"><h1>Просмотр <%= @topic.title %></h1></div>

<div class="row"><%= render 'messages/form', message: @message %></div>

<%= render 'sections/topic', topic: @topic, reply: false %>

<% @topic.messages.each do |message| %>
  <%= render 'message', message: message %>
<% end %>