<h1>Просмотр <%= @topic.title %></h1>

<%= render 'messages/form', message: @message %>

<%= render 'sections/topic', topic: @topic, reply: false %>

<% @topic.messages.each do |message| %>
  <%= render 'message', message: message %>
<% end %>