<div class="row">
  <h1><%= @section.title %></h1>
  <p><%= @section.description %></p>
</div>

<div class="row">
  <%= render 'new_topic' %>
</div>

<% @topics.each do |topic| %>
  <%= render 'topic', topic: topic, reply: true %>
<% end %>